---
import PageLayout from "@/layouts/Base.astro";
import TimeLineElement from "@/components/cv/Timeline.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Welcome to my resume page! Here, you can explore my professional journey as a full-stack developer and blockchain enthusiast.
    With experience in Web3, cloud engineering, and winning hackathons, I thrive on solving complex challenges and delivering innovative solutions.
    You can download a detailed version of my resume below, which highlights my skills, achievements, and the projects I've contributed to over the years.
    Let’s connect and discuss how I can bring value to your team or project!
  </div>

  <div class="mb-5">
    <a href="/path/to/your-cv.pdf" download class="btn-download">
      Download CV
    </a>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Applied Computer Science (B.Sc.)"
      subtitle="2018 to 2021 at University of Applied Sciences, Hannover, Germany"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Fullstack Dev"
      subtitle="From Nov 2023 to today at Vengeance Ventures, Hannover, Germany"
    >
      Various responsibilities, depending on customer needs.
    </TimeLineElement>
    <TimeLineElement
      title="Fullstack Dev (Freelance)"
      subtitle="From Oct 2022 to Oct 2023 at GoblinSax DAO"
    >
      Maintaining and developing system architecture of NFT Lending Bot. Adding features, removing bugs. Authored + published npm package facilitating interaction between multiple NFT Lending Protocols. Writing and streamlining shell scripts. CI + Devops on AWS.
    </TimeLineElement>
    <TimeLineElement
      title="Product Manager (Freelance)"
      subtitle="From June 2022 to Sept 2022 at General Magic, [City], [Country]"
    >
      Managing external client project (Token Engineering Academy) with regards to soulbound NFT certificate solution. Various adminstrative responsibilities (invoicing, resource management, product backlog, facilitating seamless communications between internal teams and client)
    </TimeLineElement>
    <TimeLineElement
      title="Product Manager (Freelance)"
      subtitle="From Jan 2022 to May 2022 at 0Vix"
    >
      Building DeFi platform on Polygon. Coordinating team efforts between designers, fullstack, smart contract and frontend developers. Project planning, roadmap creation, product feedback evaluation.
    </TimeLineElement>
    <TimeLineElement
      title="Product Owner at German National Library of Science and Technology"
      subtitle="From Dec 2020 to Oct 2021 at Technische Informationsbibliothek, Hannover, Germany"
    >
      Combining aspects of SSI and Blockchain at the Horizon 2020 funded research project ConDIDi.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>React.js</li>
    <li>Typescript</li>
    <li>Node.js</li>
    <li>Next.js</li>
    <li>IaC (aws cdk)</li>
    <li>Serverless</li>
    <li>Lambda</li>
    <li>S3</li>
    <li>EC2</li>
    <li>ECS</li>
    <li>Docker</li>
    <li>CI/CD</li>
    <li>Python</li>
    <li>Solidity</li>
    <li>Devops</li>
    <li>Agile</li>
    <li>Scrum</li>
  </ul>
</PageLayout>
