---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Portfolio",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Portfolio</h1>
  <div class="prose prose-sm prose-cactus max-w-none">
    <p><b>🚧Under Construction🚧</b></p>
  </div>
	<!-- <div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi there! 👋 I'm <b>Valerie</b>, a full-stack developer with a passion for solving challenging problems and crafting innovative digital solutions. My expertise spans blockchain technology, cloud computing, and web development, with a strong focus on scalability and user-centric design.
		</p>
		<p>
			Since diving into the blockchain space in 2018, I've been captivated by its potential to revolutionize industries. I’ve had the opportunity to:
		</p>
		<ul class="list-inside list-disc" role="list">
			<li>Participate in numerous <b>hackathons</b>, some of which led to awards, where I honed my skills in Web3 development and rapid prototyping.</li>
			<li>Work as a <b>Product Owner</b> and <b>Full-Stack Developer</b>, delivering solutions in the Ethereum ecosystem.</li>
			<li>Develop expertise in <b>AWS Cloud Engineering</b>, contributing to cutting-edge projects in IoT, CI/CD pipelines, and cloud migrations.</li>
		</ul>
		<p>
			Beyond my professional journey, I thrive on the excitement of building side projects. Whether it’s a crypto bot that navigates NFT lending platforms or a cabal-warning-radar for memecoins, I love pushing boundaries and exploring new ideas.
		</p>
	</div>
  <div class="mt-8">
    <button> Let's connect!</button>
    <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
      Get This template
    </a>
  </div> -->
</PageLayout>
